
<!-- <div *ngIf="statusCode; else processing">
   <div *ngIf="statusCode === 201" [ngClass] = "'success'">
	    Article added successfully.
   </div>   
   <div *ngIf="statusCode === 409" [ngClass] = "'success'">
        Article already exists.
   </div>   	
   <div *ngIf="statusCode === 200" [ngClass] = "'success'">
        Article updated successfully.
   </div>   	      
   <div *ngIf="statusCode === 204" [ngClass] = "'success'">
        Article deleted successfully.
   </div>   	   
   <div *ngIf="statusCode === 500" [ngClass] = "'error'">
        Internal Server Error.
   </div>   	
 </div> -->



<button md-button (click)="openDialog()">Launch dialog</button>



  <div >


    <!-- <a routerLink="." (click)="updateRating($event)" id="god" ><md-icon style="font-size:240px;color:red;">face</md-icon></a> -->
    <!-- <a routerLink="."><md-icon >face</md-icon></a>
    <a  routerLink="."><md-icon >face</md-icon></a>
    <a  routerLink="."><md-icon >face</md-icon></a>
    <a  routerLink="."><md-icon >face</md-icon></a> -->
<h1 *ngIf="isLoaded" > {{title}}</h1>
    <button (click)="updateRating($event)" (click)="openDialog()" id="veryBad">Click</button>
    <button (click)="updateRating($event)" (click)="openDialog()" id="bad">Click</button>
    <button (click)="updateRating($event)" id="normal">Click</button>
    <button (click)="updateRating($event)" id="god">Click</button>
    <button (click)="updateRating($event)" id="veryGod">Click</button>

  </div>

